* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
.header {
    background-color: #f1f1f1;
    padding: 1vw;
    padding-top: 1vw;
    height: 13vw;
    display: block;
}

.header .logo {
    width: 20vw;
    float: left;
    margin-left: 5vw;
    margin-right: 5vw;
    display: block;
}

.header .text {
    text-align: left;
    font-size: 5vw;
    margin: 0px;
    padding-top: 4vw;
}


/* Container for flexboxes */
.row {
    display: -webkit-flex;
    display: flex;
}

/* Create three unequal columns that sits next to each other */
.column {
    padding: 10px;
    /*  height: 300px;  Should be removed. Only for demonstration */
}



/* right column */
.nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 1vw;
    background-color:#aaa
}

.nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;  
}

.nav ul li a {
    display: block;
    color: #000;
    padding: 0.3vw;
    margin: 0.3vw;
    text-decoration: none;
}

.nav ul li a:hover {
    background-color: #555;
    color: white;
    cursor: pointer; cursor: hand;
}


/* right column */
.right {
    -webkit-flex: 1;
    -ms-flex: 2;
    flex: 1;
    padding: 1vw;
    background-color: #ccc;
}

/* Middle column */
.timetable {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    padding: 1vw;
    background-color:#bbb;
}


.timetables_table
{
    border: none;
    border-collapse:collapse;
}

.timetables_table tr th
{
    padding: 1vw;
    padding-left: 2vw;
    padding-top: 1vw;
    color: black;
}

.timetables_table tr td
{
    padding: 0.5vw;
    padding-left: 2vw;
}

.timetables_table tr:nth-child(even) {background: #cacaca}
.timetables_table tr:nth-child(odd) {background: #cfcfcf}


/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}